<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Todo List Detail</title>
</head>

<body>
    <main>
        <div>
            <h1>{{ todo_list.name }}</h1>
            <p><a href="{% url 'todos:todo_list_delete' todo_list.id %}">Delete</a></p>
            <!-- Link to delete the todo list -->
            <h2>Tasks</h2>
            <p><a href="{% url 'todos:todo_list_update' id=todo_list.id %}">Edit</a></p> <!-- Link to edit the list -->
            <table>
                <thead>
                    <tr>
                        <td>{{ item.task }}</td>
                        <th>Task</th>
                        <th>Due date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in todo_list.items.all %}
                    <tr>
                        <td><a href="{% url 'todos:todo_item_update' id=item.id %}">{{ item.task }}</a></td>
                        <!-- Link to edit the item -->
                        <td>{{ item.due_date }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>

</html>
